* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13.2px;
  font-weight: bold
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 5px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.active {
  color: rgba(137, 135, 255, 1);
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#memory,
#clock,
#wireplumber {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  color: #181825;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: #1793d1;
}

#memory {
  background-color: #4E518A;
}

#backlight {
  background-color: #fab387;
}


#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: #4E518A;
}

#wireplumber {
  background-color: #4E518A;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}

